<!DOCTYPE html>
<html>
<head>
    <title>Arcobaleno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header class = "btn-group" role = "group">
    <ul class = "reglog">
        <%if (!user){ %>
        <li><a href = "/register"><button type = "button" class = "btn btn-default">Регистрация</button></a></li>
        <li><a href = "/login"><button type = "button" class = "btn btn-default">Вход</button></a></li>
        <%}%>
        <% if (user){ %>
        <li><a href = "/profile"><button type = "button" class = "btn btn-default">Профиль</button></a></li>
        <li><a href = "/logout"><button type = "button" class = "btn btn-default">Выход</button></a></li>
        <%}%>
    </ul>
</header>
<div class = "container">
    <ul class = "nav navbar-nav">
        <li><a href = "/">Главная</a></li>
        <li><a href = "/menu">Меню</a></li>
        <%if  (user && !user.admin){%>
        <li><a href = "/cart">Заказ</a></li>
        <%}%>
        <li><a href = "/contacts">Контакты</a></li>
    </ul>
    <div class="cart">
   <%for(var i = 0; i < cart.length; i++){%>
        <%=cart[i].name%> ......... <%=cart[i].price%>грн<br>
    <%}%>
        <br>
        <%var sum = 0;
        for (var i = 0; i < cart.length; i++){
            sum += cart[i].price;
        }%>
        <h4>Итого: <%=sum%></h4><br>
        <a href = "/buy"><button class="btn btn-primary">Купить</button></a>
    </div>
</div>
</body>
</html>