<!DOCTYPE html>
<html>
  <head>
    <title>Arcobaleno</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header class = "btn-group" role = "group">
    <ul class = "reglog">
    <%if (!user){ %>
      <li><a href = "/register"><button type = "button" class = "btn btn-default">Регистрация</button></a></li>
      <li><a href = "/login"><button type = "button" class = "btn btn-default">Вход</button></a></li>
    <%}%>
    <% if (user){ %>
      <li><a href = "/profile"><button type = "button" class = "btn btn-default">Профиль</button></a></li>
      <li><a href = "/logout"><button type = "button" class = "btn btn-default">Выход</button></a></li>
    <%}%>
    </ul>
  </header>
  <div class = "container">
  <ul class = "nav nav-tabs nav-stacked" class = "navbar">
    <li><a href = "/">Главная</a></li>
    <li><a href = "/menu">Меню</a></li>
      <%if  (user && !user.admin){%>
    <li><a href = "/cart">Заказ</a></li>
      <%}%>
    <li><a href = "/contacts">Контакты</a></li>
  </ul>
  <div class = "news">
    <%if (user && user.admin){%>
    <form class="newPost" action = "/addNews" method = "post" enctype="multipart/form-data">
      <h5>Заголовок:</h5> <input class = "headingPost" type = "text" name = "heading"/><br>
      <h5>Текст новости:</h5> <input class="textPost" type = "text" name = "text"/><br>
      <h5>Картинка:</h5> <input type = 'file' name = 'picture'/><br>
      <input type = "submit" value = 'Добавить новость'/>
    </form>
    <%}%>
    <%for (var i = news.length - 1; i >= 0; i--){%>
    <h3><%=news[i].heading%></h3><br>
    <p><%=news[i].text%></p><br><br>
      <img alt="" src='data:image/jpg;base64,<%= news[i].picture %>'>
      <%if (user && user.admin){%>
        <form action = "/deleteNews/<%=news[i]._id%>" method = "get">
          <input type = "submit" value='Удалить новость'/>
        </form><br>
      <%}%>
    <%}%>
  </div>
  </div>
  </body>
</html>
