<!DOCTYPE html>
<html>
<head>
    <title>Arcobaleno</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
    body        { padding-top:80px; word-wrap:break-word; }
</style>
<body>
<header class = "btn-group" role = "group">
    <ul class = "reglog">
        <li><a href = "/profile"><button type = "button" class = "btn btn-default btn-md">Профиль</button></a></li>
        <li><a href = "/logout"><button type = "button" class = "btn btn-default btn-md">Выход</button></a></li>
    </ul>
</header>
<div class="container">
<ul class = "nav navbar-nav">
    <li><a href = "/">Главная</a></li>
    <li><a href = "/menu">Меню</a></li>
    <%if  (user && !user.admin){%>
    <li><a href = "/cart">Заказ</a></li>
    <%}%>
    <li><a href = "/contacts">Контакты</a></li>
</ul>
<div class="col-sm-6" >
    <div class="well profile">
        <h3><span class="fa fa-user">Профиль</span></h3>
        <p>
            <strong>Имя</strong>: <%= user.name %><br>
            <strong>E-mail</strong>: <%= user.email %><br>
            <strong>Покупки</strong>: <%= user.purchases%> грн<br>
        </p>
    </div>
</div>
</div>
</body>
</html>