body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  width : 150px;
  position: fixed;
}
.container{
  display: inline-block;
}
.nav {
  left : 10px;
  width: 150px;
  height: 100%;
  background: lavender;
}
.nav li {
  width: 150px;
}

#search-form {
  display: inline-block;

  position: relative;
  left: 150%;
}

.profile {
  position: absolute;
  left : 200px;
  top : 40px;
  width : 800px;
}

#search-form li{
  list-style-type: none;
  display: inline-block;
}

.reglog li {
  text-align: right;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.reglog {
    position: relative;
    left: 300%;
  }

.reglog2 li {
  text-align: right;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.reglog2 {
  position: relative;
  left: 10%;
}
.sign {
  position: relative;
  top: 80px;
}

.news {
  position : relative;
  left : 200px;
  top : 40px;
  width : 800px;
}
.cart {
  position : relative;
  left : 200px;
  top : 40px;
  width : 800px;
}
#dishes {
  position : relative;
  left : 200px;
  top : 40px;
  width : 800px;
  text-align: center;
}
#dishes li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 250px;
  height: 250px;
  background: peachpuff;
}
#dishes li img{
  width : 200px;
  height: 100px;
}
#profile{
  position : relative;
  left : 300px;
  top : -130px;
}
#newDish {
  text-align: center;
}
.headingPost {
  width : 800px;
}
.textPost {
  width : 800px;
  height : 150px;
}
.news img {
  width : 800px;
  height: 600px;
}

a {
  color: #00B7FF;
}
